{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Quiz Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body-confirm"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        <button type="button" id="start-button" class="btn btn-success">Start Now</button>
      </div>
    </div>
  </div>
</div>

<div class="h1">Quiz List</div>
<hr>
{% for obj in object_list %}
<button
class='btn btn-link modal-button'
data-pk='{{obj.pk}}'
data-quiz='{{obj.name}}'
data-topic = '{{obj.topic}}'
data-questions = '{{obj.number_of_questions}}'
data-time = '{{obj.time_to_complete}}'
data-pass = '{{obj.pass_mark}}'
data-dificulty = '{{obj.dificulty}}'
data-bs-toggle="modal"
data-bs-target="#quizStartModal">{{obj.name}}</button>
{% endfor %}
{% block scripts %}
<script src="{% static 'quizes/main.js' %}" defer></script>
{% endblock scripts %}
{% endblock content %}