{% extends 'base.html' %}
{% load static %}
{% block title %}Quiz Details{% endblock title %}

{% block content %}
{{obj.name}}
<hr>
<form id="quiz-form" class="mt-3 mb-3">
{% csrf_token %}
<div id="quiz-box"></div>
<button type="submit" class="btn btn-primary mt-3">Save</button>
</form>

{% block scripts %}
    <script>
    console.log("Hello World Quiz")
    const url = window.location.href
    const quizBox = document.getElementById("quiz-box")
    $.ajax({
        type: 'GET',
        url: `${url}data`,
        success: function(response){
            const data = response.data
            data.forEach(el =>{
                for(const [question, answers] of Object.entries(el)){
                    quizBox.innerHTML+=`
                        <hr>
                        <div class="mb-2">
                            <br>${question}</br>
                        </div>
                    `
                    answers.forEach(answer =>{
                        quizBox.innerHTML+=`
                        <div>
                        <input type="radio" class="ans" id="${question}-${answer}" name="${question}" value="${answer}">
                        <label for="${question}">${answer}</label>
                        </div>
                    `
                    })

                }
            });


        },
        error: function(error){
            console.log(error)
        },

    })
    </script>
{% endblock scripts %}

{% endblock content %}